USE [master]
GO
/****** Object:  Database [GolfLeagueDB]    Script Date: 5/20/2018 12:47:31 PM ******/
CREATE DATABASE [GolfLeagueDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GolfLeagueDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GolfLeagueDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GolfLeagueDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GolfLeagueDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GolfLeagueDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GolfLeagueDB]
GO
USE [GolfLeagueDB]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 5/20/2018 12:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[MatchID] [int] NOT NULL,
	[CourseName] [nchar](200) NOT NULL,
	[Hole1Par] [int] NOT NULL,
	[Hole1Handicap] [int] NOT NULL,
	[Hole2Par] [int] NOT NULL,
	[Hole2Handicap] [int] NOT NULL,
	[Hole3Par] [int] NOT NULL,
	[Hole3Handicap] [int] NOT NULL,
	[Hole4par] [int] NOT NULL,
	[Hole4Handicap] [int] NOT NULL,
	[Hole5Par] [int] NOT NULL,
	[Hole5Handicap] [int] NOT NULL,
	[Hole6Par] [int] NOT NULL,
	[Hole6Handicap] [int] NOT NULL,
	[Hole7Par] [int] NOT NULL,
	[Hole7Handicap] [int] NOT NULL,
	[Hole8Par] [int] NOT NULL,
	[Hole8Handicap] [int] NOT NULL,
	[Hole9Par] [int] NOT NULL,
	[Hole9Handicap] [int] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HandicapMethods]    Script Date: 5/20/2018 12:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HandicapMethods](
	[HandicapID] [int] IDENTITY(1,1) NOT NULL,
	[Method] [nchar](50) NULL,
 CONSTRAINT [PK_HandicapMethods] PRIMARY KEY CLUSTERED 
(
	[HandicapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leagues]    Script Date: 5/20/2018 12:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leagues](
	[LeagueID] [int] IDENTITY(1,1) NOT NULL,
	[LeagueName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Leagues] PRIMARY KEY CLUSTERED 
(
	[LeagueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeagueYears]    Script Date: 5/20/2018 12:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeagueYears](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[MaxScore] [int] NULL,
	[LeagueID] [int] NOT NULL,
	[HandicapID] [int] NOT NULL,
	[PointID] [int] NOT NULL,
	[MaxScoreID] [int] NOT NULL,
	[TrackPutts] [int] NULL,
 CONSTRAINT [PK_LeagueYears] PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 5/20/2018 12:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[MatchDate] [datetime] NOT NULL,
	[FunDay] [datetime] NULL,
	[Team1Points] [int] NOT NULL,
	[Team2Points] [int] NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Team1] [int] NOT NULL,
	[Team2] [int] NOT NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaxScores]    Script Date: 5/20/2018 12:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaxScores](
	[MaxScoreID] [int] IDENTITY(1,1) NOT NULL,
	[MaxScoreType] [nchar](50) NULL,
 CONSTRAINT [PK_MaxScores] PRIMARY KEY CLUSTERED 
(
	[MaxScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 5/20/2018 12:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nchar](30) NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[InitialHandicap] [nchar](5) NOT NULL,
	[LeagueID] [int] NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointSytems]    Script Date: 5/20/2018 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointSytems](
	[PointID] [int] IDENTITY(1,1) NOT NULL,
	[SystemName] [nchar](50) NULL,
 CONSTRAINT [PK_PointSytems] PRIMARY KEY CLUSTERED 
(
	[PointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rounds]    Script Date: 5/20/2018 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rounds](
	[RoundID] [int] IDENTITY(1,1) NOT NULL,
	[RoundDate] [date] NOT NULL,
	[Hole1Strokes] [int] NOT NULL,
	[Hole2Stokes] [int] NOT NULL,
	[Hole3Strokes] [int] NOT NULL,
	[Hole4Strokes] [int] NOT NULL,
	[Hole5Strokes] [int] NOT NULL,
	[Hole6Strokes] [int] NOT NULL,
	[Hole7Strokes] [int] NOT NULL,
	[Hole8Strokes] [int] NOT NULL,
	[Hole9Strokes] [int] NOT NULL,
	[TotalStrokes] [int] NOT NULL,
	[TotalPutts] [int] NOT NULL,
	[PlayerID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[MatchID] [int] NOT NULL,
 CONSTRAINT [PK_Rounds] PRIMARY KEY CLUSTERED 
(
	[RoundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 5/20/2018 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[YearID] [int] NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 5/20/2018 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[PlayerID] [int] NOT NULL,
 CONSTRAINT [PK_TeamMembers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 5/20/2018 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[YearID] [int] NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LeagueYears]  WITH CHECK ADD  CONSTRAINT [FK_LeagueYears_HandicapMethods] FOREIGN KEY([HandicapID])
REFERENCES [dbo].[HandicapMethods] ([HandicapID])
GO
ALTER TABLE [dbo].[LeagueYears] CHECK CONSTRAINT [FK_LeagueYears_HandicapMethods]
GO
ALTER TABLE [dbo].[LeagueYears]  WITH CHECK ADD  CONSTRAINT [FK_LeagueYears_Leagues] FOREIGN KEY([LeagueID])
REFERENCES [dbo].[Leagues] ([LeagueID])
GO
ALTER TABLE [dbo].[LeagueYears] CHECK CONSTRAINT [FK_LeagueYears_Leagues]
GO
ALTER TABLE [dbo].[LeagueYears]  WITH CHECK ADD  CONSTRAINT [FK_LeagueYears_MaxScores] FOREIGN KEY([MaxScoreID])
REFERENCES [dbo].[MaxScores] ([MaxScoreID])
GO
ALTER TABLE [dbo].[LeagueYears] CHECK CONSTRAINT [FK_LeagueYears_MaxScores]
GO
ALTER TABLE [dbo].[LeagueYears]  WITH CHECK ADD  CONSTRAINT [FK_LeagueYears_PointSytems] FOREIGN KEY([PointID])
REFERENCES [dbo].[PointSytems] ([PointID])
GO
ALTER TABLE [dbo].[LeagueYears] CHECK CONSTRAINT [FK_LeagueYears_PointSytems]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Matches] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Matches] ([MatchID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Matches]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Leagues] FOREIGN KEY([LeagueID])
REFERENCES [dbo].[Leagues] ([LeagueID])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Leagues]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_LeagueYears] FOREIGN KEY([YearID])
REFERENCES [dbo].[LeagueYears] ([YearID])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_LeagueYears]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Players]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_LeagueYears] FOREIGN KEY([YearID])
REFERENCES [dbo].[LeagueYears] ([YearID])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_LeagueYears]
GO
USE [master]
GO
